@import '_variables';
@import '_typography';

@mixin sa-button {
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    border-radius: $border-radius-default;
    border: 2px solid transparent;
    padding: $distance-s;
    @include typo-m;
    cursor: pointer;

    &--dark {
        color: $text-color-negative;
        background-color: $color-main-dark;
        &:hover,
        &:active,
        &:focus {
            border-color: lighten($color-main-dark, 45%);
            transition: border-color 0.5s;
        }
    }
    &--bright {
        color: $text-color;
        background-color: $color-main-bright;
        &:hover,
        &:active,
        &:focus {
            border-color: darken($color-main-bright, 25%);
            transition: border-color 0.5s;
        }
    }
}

@mixin sa-input-radio {
    input {
        display: none;
    }
}