@mixin typo-xs {
  font-size: #{(12/16)}rem;
}

@mixin typo-s {
  font-size: #{(14/16)}rem;
}

@mixin typo-m {
  font-size: 1rem;
}

@mixin typo-l {
  font-size: #{(18/16)}rem;
}

@mixin typo-xl {
  font-size: #{(20/16)}rem;
}
