@mixin typo-xs {
  font-size: (12rem / 16);
}

@mixin typo-s {
   font-size: (14rem / 16);
}

@mixin typo-m {
  font-size: 1rem;
}

@mixin typo-l {
  font-size: (18rem / 16);
}

@mixin typo-xl {
  font-size: (20rem / 16);
}