/* COLORS */

$color-primary: #1d6e82;
$color-primary-lighter-1: #4c8596;
$color-primary-lighter-2: #719caa;
$color-primary-lighter-3: #95b4bf;
$color-primary-lighter-4: #b8cdd4;
$color-primary-lighter-5: #dbe6e9;
$color-primary-darker-1: #1d5b6b;
$color-primary-darker-2: #1c4955;
$color-primary-darker-3: #193740;
$color-primary-darker-4: #15272c;
$color-primary-darker-5: #0f171a;

$color-gray: #888;
$color-gray-lighter-1: #9b9b9b;
$color-gray-lighter-2: #aeaeae;
$color-gray-lighter-3: #c2c2c2;
$color-gray-lighter-4: #d6d6d6;
$color-gray-lighter-5: #efefef;
$color-gray-darker-1: #707070;
$color-gray-darker-2: #595959;
$color-gray-darker-3: #434343;
$color-gray-darker-4: #2e2e2e;

$color-danger: #932616;

$text-color: $color-gray-darker-4;
$text-color-negative: $color-gray-lighter-5;

$border-radius-default: 2px;

/* DISTANCES */

$distance-xs: 4px;
$distance-s: 8px;
$distance-m: 12px;
$distance-l: 16px;
$distance-xl: 20px;

/* FONT */

$font-base-size: 1.125rem;
