/* COLORS */

$color-main-bright: #efb5a7;
$color-main-dark: #1d6e82;

$text-color: #131313;
$text-color-negative: #EFEFEF;

$border-radius-default: 2px;

/* Distances */

$distance-xs: 4px;
$distance-s: 8px;
$distance-m: 12px;
$distance-l: 16px;
$distance-xl: 20px;